{
  "DB_USER": "username",
  "DB_PASSWORD": "password",
  "DB_NAME": "db",
  "DB_HOST": "localhost",
  "TYPEORM_MIGRATIONS_RUN": true,
  "OPENSEARCH_HOST": "httpі://localhost:9200",
  "OPENSEARCH_USER": "admin",
  "OPENSEARCH_PASS": "Opensearch2024!"
}
